{{>head}}
<html>
<body>
  <div class="main-content">
    {{>header}}
    <p>{{info}}</p>
	  <img class="portrait" src="./img/IMG_7159.jpg" alt="Profile Picture of myself">
  </div>
	
  {{>footer}}
</body>
</html>