{{>head}}
<html>
<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Aaron Sawyer. It uses data from mapbox.com and darksky.net</p>
	  <img class="portrait" src="./img/IMG_7159.jpg" alt="Profile Picture of myself">
  </div>
	
  {{>footer}}
</body>
</html>